/* CSS STRUCTURE TEMPLATE */
/* .selector { */
/* POSITIONING */
/* position: absolute, relative, fixed, etc; */
/* z-index: 10; */
/* top: 0; */
/* right: 0; */
/* DISPLAY & BOX MODEL */
/* display: block, flex, etc; */
/* overflow: visible, hidden, scroll, etc; */
/* box-sizing: border-box, etc; */
/* width: - - -; */
/* height: - - - ; */
/* padding: 10px 10px; */
/* border: 0 solid color; */
/* margin: - - - ; */
/* COLOR */
/* background: - - - ; */
/* color: - - - ; */
/* TEXT */
/* font-family: - - - ; */
/* font-size: - - - ; */
/* line-height: - - - ; */
/* text-align: - - - ; */
/* OTHER */
/* cursor: - - - ; */
/* } */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.top-section {
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  flex-direction: column;
}

nav {
  background-color: rgb(0, 255, 255);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#logo_on_top {
  background-color: black;
  padding-right: 30px;
}

#Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: bisque;
}

#link {
  padding-left: 100px;
}

#Header #Navigation ul {
  list-style-type: none;
  margin: 10px;
  padding-left: 100px;
  /* overflow: hidden; */
  display: inline-block;
}

#Header #Navigation li {
  float: left;
}

#Header #Navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
}

#Header #Navigation li a:hover {
  background-color: rgb(71, 69, 69);
}

#slogan {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 175px;
  margin-bottom: 50px;
}

#slogan h1 {
  margin-top: 1px;
}

#slogan h3 {
  margin-bottom: 1px;
}

/* services section */
.services-section {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  flex-direction: column;
  align-items: center;
}

#services {
  display: inline-flex;
  background-color: aqua;
  flex-wrap: wrap;
}

.services-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
  float: right;
  margin-left: 50px;
  margin-right: 50px;
}

.services-img h3 {
  color: white;
  text-transform: uppercase;
}
/* article  section */

.article-section {
  display: flex;
  background-color: blueviolet;
}

article {
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

#article_img {
  margin: 40px;
}

/* produc  section */

.products-section {
  background-color: coral;
}
#product_head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#img_row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.product-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
}

.product-description {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#button {
  display: flex;
  justify-content: center;
}

/*contac us */

.contact-us {
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact_head {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-row {
  display: flex;
}

/*since */

.since-section {
  display: flex;
  background-color: rgb(0, 0, 0);
  color: rgba(255, 118, 48, 1);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#group_img {
  margin: 40px;
}

/*office section */

.office-section {
  background-color: aqua;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#us_office {
  background-color: rgb(42, 165, 48);
}

#cad_office {
  background-color: crimson;
}
