/* CSS STRUCTURE TEMPLATE */
/* .selector { */
/* POSITIONING */
/* position: absolute, relative, fixed, etc; */
/* z-index: 10; */
/* top: 0; */
/* right: 0; */
/* DISPLAY & BOX MODEL */
/* display: block, flex, etc; */
/* overflow: visible, hidden, scroll, etc; */
/* box-sizing: border-box, etc; */
/* width: - - -; */
/* height: - - - ; */
/* padding: 10px 10px; */
/* border: 0 solid color; */
/* margin: - - - ; */
/* COLOR */
/* background: - - - ; */
/* color: - - - ; */
/* TEXT */
/* font-family: - - - ; */
/* font-size: - - - ; */
/* line-height: - - - ; */
/* text-align: - - - ; */
/* OTHER */
/* cursor: - - - ; */
/* } */

.top-section {
  background-color: blue;
}

.services-section {
  background-color: red;
}

.article-section {
  background-color: blueviolet;
}

.products-section {
  background-color: coral;
}

.contact-us {
  background-color: chartreuse;
}

.since-section {
  background-color: blueviolet;
}

.office-section {
  background-color: aqua;
}

#us_office {
  background-color: rgb(42, 165, 48);
}

#cad_office {
  background-color: crimson;
}

nav {
  background-color: yellow;
}

#logo_on_top {
  display: flex;
  top: -10px;
  left: 30px;
  height: 10px;
  margin-left: auto;
  background-color: black;
}

#Header #Navigation {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
  /* background-color: aqua; */
}

#Header #Navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

#Header #Navigation li {
  float: left;
}

#Header #Navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
}

#Header #Navigation li a:hover {
  background-color: rgb(71, 69, 69);
}
